* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(231, 229, 229);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 1em;
}

.card {
  background-color: white;
}

img {
  width: 10%;
  height: auto;
  margin: 2px;
}

.card__head {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.card__middle {
  display: flex;
  justify-content: center;
}

.card__pictures {
  display: flex;
  padding: 0.5em 1em 4em 1em;
}

.card__middle > div {
  justify-items: center;
  border-top: 2px solid rgb(231, 229, 229);
  border-bottom: 2px solid rgb(231, 229, 229);
  width: 45%;
  font-weight: bold;
}

.card__middle > div:first-child {
  border-right: 2px solid rgb(231, 229, 229);
}

h3 + p {
  color: rgb(170, 169, 169);
}

.card2 {
  background-color: #becc41;
}

.card3 header h3 {
  font-style: italic;
}
.card3 + .card header p {
  background-color: #ea213a;
}

.wrapper > div:first-child,
.wrapper > div:last-child {
  background-color: #fbec5d;
}
